body {
    background-color: rgb(135, 68, 20);
    font-family: "Century Schoolbook";
}

h1{
    font-family: "Gabriola";
}
.navegador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px; 
    margin: 0;  
    color: aquamarine;
    text-decoration: none;
    font-family: "Gabriola";
}
.seccion {
    display: flex;
    background-color: rgb(187, 135, 135);
}

.columna_texto {
    flex: 1;
    padding-right: 10px; /* Espacio entre columnas */

}

.columna_imagen {
    flex: 1;
    padding-left: 20px; /* Espacio entre columnas */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra la imagen en la columna */
}

.columna_imagen img {
    max-width: 90%; /* Para que la imagen no exceda el tamaño de la columna */
    height: auto;
}

 /* Estilo del contenedor */
.background-section {
    position: relative; /* Para permitir el posicionamiento del texto */
    width: 100%;
    height: 650px;
    background-image: url('../IMG/cc.jpg'); /* Cambia esta ruta a la de tu imagen */
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centra la imagen */
    color: white; /* Color del texto */
    margin: 0;
    
}

/* Estilo del texto */
.background-section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto horizontal y verticalmente */
    text-align: center;
    margin: 0;
}

.footer{
    background-color: rgb(79, 31, 32);
    color: beige;
}