body {
    background-color: rgb(135, 96, 37);
}

.navegador{
    display: flex;
    justify-content: space-around;
}
.seccion {
    display: flex;
}

.columna_texto {
    flex: 1;
    padding-right: 10px; /* Espacio entre columnas */
}

.columna_imagen {
    flex: 1;
    padding-left: 20px; /* Espacio entre columnas */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra la imagen en la columna */
}

.columna_imagen img {
    max-width: 90%; /* Para que la imagen no exceda el tamaño de la columna */
    height: auto;
}
