body {
    font-family: "Century Schoolbook";
    color: aliceblue;
    background-image: url('../IMG/FONDOTOTAL.jpg'); /* Cambia la ruta a la de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    margin: 0; /* Elimina el margen del body */
    height: 91vh; /* Asegura que el fondo ocupe toda la altura de la ventana */
}

h1{
    font-family: "Gabriola";
}
.navegador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px; 
    margin: 0;  
    color: aquamarine;
    font-family: "Gabriola";
    background-color: rgba(57, 35, 9, 0.636); /* Negro semi-transparente */
    padding: 20px;
}
a{
    text-decoration: none; 
    color: white;
    padding: 10px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    /* repetirrrrr */
}
.footer{
    background-color: rgb(46, 7, 8);
    color: beige;
}


.sucursales {
    display: flex;
    justify-content: space-around; /* Espacio entre las columnas */
    align-items: center; /* Alinea los elementos en el centro verticalmente */
    padding: 20px;
    box-sizing: border-box;
}

/* Cada columna individual (para una ciudad) */
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ocupa 45% del ancho cada columna */
}

/* Imagenes dentro de las columnas */
.imagen img {
    width: 100%; /* Aumenta el tamaño de la imagen, ajustando el 80% del ancho del contenedor */
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.22s ease;
}

/* Estilos de texto */
.texto a {
    font-size: 24px; /* Aumenta el tamaño de la fuente */
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.imagen:hover {
    transform: scale(1.05);
}















