body{
    background-color: navy;
}
h3{
    color: aliceblue;
}
p{
    font-size: 25px;
    color: aliceblue;
}
h2{
    font-size: 40px;
    color: aliceblue
}
ul{
    font-size: 25px;
    color: aliceblue;
}
h3{
    font-size: 20px;
    color: aliceblue
}
a{
    color: aliceblue;
}